<section>
  <mat-toolbar color="primary"
    ><span class="title-center" [hidden]="!showCards">Book Cards</span>
    <span class="title-center" [hidden]="!showTable">Books Table</span>
    <span class="title-center" [hidden]="!showLocalTable"
      >Books Local Table</span
    >

    <!-- Search for book cards component -->
    <form class="search-form" [hidden]="!showCards">
      <mat-form-field class="search-form-full-width">
        <input
          matInput
          type="search"
          placeholder="Search"
          [(ngModel)]="searchText"
          name="search"
        />
      </mat-form-field>
    </form>
    <!-- End of search book cards component -->
  </mat-toolbar>
</section>

<div
  *ngIf="this.books; else loading"
  class="book-list"
  fxLayout="column"
  fxLayoutGap="1rem"
>
  <!-- Book Cards component -->

  <app-book
    *ngFor="let book of books | search: searchText"
    [book]="book"
    [hidden]="!showCards"
  >
  </app-book>

  <!-- Table that is Table that gets data from api directly -->

  <app-table [hidden]="!showTable"></app-table>

  <!-- Table that gets data fom input -->

  <app-table-local [books]="books" [hidden]="!showLocalTable"></app-table-local>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
