<section>
  <mat-toolbar color="primary"
    ><span class="title-center">Book</span></mat-toolbar
  >
  <div></div>
</section>
<div *ngIf="this.book; else loading">
  <mat-card class="mat-elevation-z4">
    <mat-card-title-group>
      <mat-card-title>{{ book?.title }}</mat-card-title>
      <mat-card-subtitle>{{ book?.author }}</mat-card-subtitle>
      <button mat-raised-button color="primary" (click)="onClose()">
        Close
      </button>
    </mat-card-title-group>

    <mat-card-content>
      <img mat-card-xl-image [src]="book.book_image" />
      <p>{{ book?.buy_links.name }}</p>
      <p>{{ book?.description }}</p>
      <div class="links-container">
        <h2>Online Bookstores:</h2>
        <ul *ngFor="let link of this.book.buy_links" [link]="link">
          <li style="font-weight: bold">
            <a [attr.href]="link?.url" target="_blank">{{ link?.name }}</a>
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
